# MinIO Secrets
MINIO_ROOT_USER=admin_nick
MINIO_ROOT_PASSWORD=VervangDitDoorEenVeiligWachtwoord123

# Postgres Secrets
POSTGRES_USER=nick_archivaris
POSTGRES_PASSWORD=MijnGeheimeDatabaseWachtwoord456
POSTGRES_DB=history_metadata_db

# pgAdmin Settings (Browser interface voor Postgres)
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin_password_123